---
layout: default
title: Genere
permalink: genere.html
---
<img src="https://f.cloud.github.com/assets/4997583/2060505/ecf00d9e-8c1e-11e3-9759-6aeaadf2b08a.jpg">
{% for c in site.categories %}
	{% assign counter=0 %}
	{% capture cat %}{{ c | first }}{% endcapture %}
	{% for p in site.posts %}
		{% if p.category == cat %}
			{% if counter == 0 %}
				<article>
				<h2><strong>{{ cat }}</strong></h2>
				{% assign counter=counter | plus:1 %} 
			{% endif %}
			<a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a><br>
			{% assign counter=counter | plus:1 %}
			{% endif %}
		{% endfor %}
		{% if counter != 0 %}
			</article><br>
		{% endif %}
{% endfor %}